name: Build Qualcomm Linux

on:
  workflow_call:

env:
  CACHE_DIR: /srv/gh-runners/quic-yocto/3rdparty
  BASE_ARTIFACT_URL: "https://quic-yocto-fileserver-1029608027416.us-central1.run.app/${{ github.run_id }}"
  MANIFEST_URL: https://github.com/quic-yocto/qcom-manifest
  MANIFEST_BRANCH: qcom-linux-scarthgap
  QLI_VERSION: QLI.1.4

jobs:
  build_warmup:
    if: github.repository == 'qualcomm-linux/meta-qcom-3rdparty'
    runs-on: [self-hosted, x86]
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs8300-ride-sx
        bsp:
          - custom
          - base
    steps:
      - uses: actions/checkout@v4

      - name: Run build
        uses: ./.github/actions/compile
        with:
          machine: ${{matrix.machine}}
          bsp: ${{matrix.bsp}}
          cache_dir: ${CACHE_DIR}
          manifest_url: ${MANIFEST_URL}
          manifest_branch: ${MANIFEST_BRANCH}
          qli_version: ${QLI_VERSION}

  build:
    needs: build_warmup
    if: github.repository == 'qualcomm-linux/meta-qcom-3rdparty'
    runs-on: [self-hosted, x86]
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs6490-rb3gen2-core-kit
          - qcs6490-rb3gen2-vision-kit
          - qcs9075-rb8-core-kit
          - qcs9075-ride-sx
          - qcs9100-ride-sx
        bsp:
          - custom
        include:
          - machine: qcs9100-ride-sx
            bsp: base
    steps:
      - uses: actions/checkout@v4

      - name: Run build
        uses: ./.github/actions/compile
        with:
          machine: ${{matrix.machine}}
          bsp: ${{matrix.bsp}}
          cache_dir: ${CACHE_DIR}
          manifest_url: ${MANIFEST_URL}
          manifest_branch: ${MANIFEST_BRANCH}
          qli_version: ${QLI_VERSION}
