name: Build Qualcomm Linux

on:
  workflow_call:

env:
  BASE_ARTIFACT_URL: "https://quic-yocto-fileserver-1029608027416.us-central1.run.app/${{ github.run_id }}"
  MANIFEST_URL: https://github.com/quic-yocto/qcom-manifest
  MANIFEST_BRANCH: qcom-linux-scarthgap
  QLI_VERSION: QLI.1.5

jobs:
  build_warmup:
    if: github.repository == 'qualcomm-linux/meta-qcom-3rdparty'
    runs-on: [self-hosted, qcom-u2404, amd64-ssd]
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs8300-ride-sx
        bsp:
          - custom
          - base
    container:
      image: ghcr.io/siemens/kas/kas
      volumes:
        - /efs/qli/meta-qcom-3rdparty:/cache
      options: --privileged
    steps:
      - uses: actions/checkout@v4

      - name: Run build
        uses: ./.github/actions/compile
        with:
          machine: ${{matrix.machine}}
          bsp: ${{matrix.bsp}}
          manifest_url: ${MANIFEST_URL}
          manifest_branch: ${MANIFEST_BRANCH}
          qli_version: ${QLI_VERSION}

  build:
    needs: build_warmup
    if: github.repository == 'qualcomm-linux/meta-qcom-3rdparty'
    runs-on: [self-hosted, qcom-u2404, amd64-ssd]
    strategy:
      fail-fast: true
      matrix:
        machine:
          - qcs615-adp-air
          - qcs6490-rb3gen2-core-kit
          - qcs6490-rb3gen2-vision-kit
          - qcs8275-iq-8275-evk
          - qcs9075-iq-9075-evk
          - qcs9075-ride-sx
          - qcs9100-ride-sx
        bsp:
          - base
          - custom
        exclude:
          - machine: qcs615-adp-air
            bsp: custom
          - machine: qcs6490-rb3gen2-core-kit
            bsp: base
          - machine: qcs6490-rb3gen2-vision-kit
            bsp: base
          - machine: qcs8275-iq-8275-evk
            bsp: base
    container:
      image: debian:trixie
      volumes:
        - /efs/qli/meta-qcom-3rdparty:/cache
      options: --privileged
    steps:
      - uses: actions/checkout@v4

      - name: Run build
        uses: ./.github/actions/compile
        with:
          machine: ${{matrix.machine}}
          bsp: ${{matrix.bsp}}
          manifest_url: ${MANIFEST_URL}
          manifest_branch: ${MANIFEST_BRANCH}
          qli_version: ${QLI_VERSION}
